@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Yerk';
    src: url('../../src/Yerk-Regular.ttf'), url('https://github.com/GanyuHail/port4/blob/b2cee24e20d569f7f625fbd2d7cafe3a68cad6bb/src/Yerk-Regular.ttf'), local('Yerk-Regular');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "inter";
}

.text1 {
    margin-top: 1em;
    margin: auto;
}

.topnav {
    background-color: white;
    overflow: hidden;
    margin: auto;
    border-bottom: 2px;
    border-color: black;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: pink;
    color: white;
}

.topnav a.active {
    background-color: darkgrey;
    color: black;
    border: 2px;
    border-color: black;
}
