@font-face {
	font-family: 'Yerk';
	src: url('../../src/Yerk-Regular.ttf'), url('https://github.com/GanyuHail/port4/blob/b2cee24e20d569f7f625fbd2d7cafe3a68cad6bb/src/Yerk-Regular.ttf'), local('Yerk-Regular');
	font-weight: 400;
	font-style: normal;
}

html,
body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	position: fixed;
}

#panel,
.flip {
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	padding: 10px;

	background-color: transparent;
	color: white;
	width: 100%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	text-justify: inter-word;
}

#panel {
	display: block;
}

#head {
	font-size: 1.5em !important;
	font-weight: bold;
	font-size: large;
	font-family: 'Exo', sans-serif;
	text-shadow: -1px 1px 0 #000,
		1px 1px 0 #000,
		1px -1px 0 #000,
		-1px -1px 0 #000;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	text-justify: inter-word;
}

#work {
	font-size: 1.2em;
	font-weight: bold;
	font-family: 'Exo', sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	text-justify: inter-word;
	text-shadow: -1px 1px 0 #000,
	1px 1px 0 #000,
	1px -1px 0 #000,
	-1px -1px 0 #000;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;

	z-index: 50;
	display: block;
	color: #F7A8B8;
	font-family: 'Exo', sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	text-justify: inter-word;
	text-shadow: -1px 1px 0 #000,
	1px 1px 0 #000,
	1px -1px 0 #000,
	-1px -1px 0 #000;
}

#bottom {
	position: absolute;
	bottom: 10px;
	width: 100%;
	z-index: 50;
	display: block;
	color: #F7A8B8;
	font-family: 'Exo', sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	text-justify: inter-word;
	text-shadow: -1px 1px 0 #000,
	1px 1px 0 #000,
	1px -1px 0 #000,
	-1px -1px 0 #000;
}

#info2 {
	position: absolute;
	top: 10px;
	bottom: 10px;
	width: 5000%;
	z-index: 5;
	display: block;
	color: #F7A8B8;
	overflow-x: auto;
	overflow-y: auto;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	text-justify: inter-word;
	line-height: 150%;
	text-shadow: -1px 1px 0 #000,
	1px 1px 0 #000,
	1px -1px 0 #000,
	-1px -1px 0 #000;
}

.bio {
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	text-justify: inter-word;
	text-shadow: -1px 1px 0 #000,
	1px 1px 0 #000,
	1px -1px 0 #000,
	-1px -1px 0 #000;
}

#plaintext {
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	font-family: 'Exo', sans-serif;
	text-shadow: -1px 1px 0 #000,
	1px 1px 0 #000,
	1px -1px 0 #000,
	-1px -1px 0 #000;
}

#yerk {
	font-family: 'Yerk';
	font-size: 30px;
	margin-left: 10%;
	margin-top: 5%;
	text-shadow: -1px 1px 0 #000,
	1px 1px 0 #000,
	1px -1px 0 #000,
	-1px -1px 0 #000;
}

@media only screen and (max-device-width: 600px) {
	#info {
		font-size: 15px;
		font-family: 'Exo', sans-serif;
	}

	#info2 {
		font-size: 15px;
		font-family: 'Exo', sans-serif;
		width: 100vmin;
	}

	#bottom {
		font-size: 15px;
		font-family: 'Exo', sans-serif;
	}

	#head {
		font-weight: normal;
		font-size: 20px;
		font-family: 'Exo', sans-serif;
		margin-left: 10px;
	}

	#bio {
		font-weight: normal;
		font-size: 15px;
		font-family: 'Exo', sans-serif;
	}

	#plaintext {
		margin-left: 10px;
	}

	#work {
		margin-left: 10px;
	}

	.bio {
		margin-left: 10px;
	}

	#yerk {
		margin-left: 10px;
		font-size: 24px;
	}

}

canvas {
	position: fixed;
	top: 0;
	left: 0;
}

a:link {
	color: #FFFFFF;
	text-decoration: none;
}

a:visited {
	color: #55CDFC;
	text-decoration: none;
}

a:hover {
	color: hotpink;
	text-decoration: underline;
}

body {
	overflow-x: auto;
	overflow-y: auto;
	padding: 0;
	margin: 0;
}

#viewport {
	position: auto;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-x: auto;
	overflow-y: auto;
}

.page-wrapper {
	padding: 0px;
	margin: 12px 48px;
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 2*48px);
	word-wrap: break-word;
	overflow-y: auto;
}

::-webkit-scrollbar {
	display: none;
}

.inner-border::-webkit-scrollbar {
	display: none;
}

.element::-webkit-scrollbar {
	width: 0 !important
}

.element {
	overflow: -moz-scrollbars-none;
}

.element {
	-ms-overflow-style: none;
}

.dropbtn {
	background-color: transparent;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: block;
	margin-left: 10%
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: magenta;
	/* min-width: 160px; */
	z-index: 1;
	margin-left: 10%;
	opacity: 0.8;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-right-radius: 2em;
	border-top-left-radius: 2em;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	margin-left: 10%;
	text-decoration: none;
	display: block;
	text-shadow: none;
}

.dropdown-content a:hover {
	background-color: pink;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-right-radius: 2em;
	border-top-left-radius: 2em;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: magenta;
	opacity: 0.8;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-right-radius: 2em;
	border-top-left-radius: 2em;
}